<template>
    <div id="attendance">
    <div class="container">

    <a v-bind:href="backURL">前月へ</a>
    <a v-bind:href="nextURL">翌月へ</a>

    <table>
    <thead>
        <tr>
            <td colspan="4">{{ year }}/{{ month }}　出勤表</td>
        </tr>
        <tr>
            <td>日</td>
            <td>曜日</td>
            <td>出勤時間</td>
            <td>退社時間</td>
            <td>コメント</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr v-for="attendance in attendances">
            <td>{{ attendance.day }}</td>
            <td>{{ attendance.wj }}</td>
            <template v-if="attendance.will">
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </template>
            <template v-else>
                <template v-if="attendance.now">
                    <td>{{ attendance.data.from_time }}</td>
                    <td>{{ attendance.data.to_time }}</td>
                    <td></td>
                    <td></td>
                </template>
                <template v-else>
                    <td><input v-model="attendance.data.from_time" size="5" maxlength="5" /></td>
                    <td><input v-model="attendance.data.to_time" size="5" maxlength="5" /></td>
                    <td><input v-model="attendance.data.comment" maxlength="255"></td>
                    <td><button v-on:click="update(year, month, attendance, $event);">更新</button></td>
                </template>
            </template>
        </tr>
    </tbody>
    </table>

    </div>
    </div>
</template>

<script>
    export default {
        props: ['url', 'year', 'month'],
        data() {
            return {
                isInitialized: false,
                attendances: [],
                backYear: "",
                backMonth: "",
                nextYear: "",
                nextMonth: "",
                backURL: "",
                nextURL: ""
            }
        },
        created: function() {
            var that = this;

            var _backDate = new Date(this.year, (this.month - 1) - 1, 1);
            var _nextDate = new Date(this.year, (this.month - 1) + 1, 1);
            this.backYear = _backDate.getFullYear();
            this.backMonth = _backDate.getMonth() + 1;

            this.nextYear = _nextDate.getFullYear();
            this.nextMonth = _nextDate.getMonth() + 1;

            this.backURL = "/attendance/" + this.backYear + "/" + this.backMonth + "?_token=" + Laravel.csrfToken;
            this.nextURL = "/attendance/" + this.nextYear + "/" + this.nextMonth + "?_token=" + Laravel.csrfToken;

            $.ajax({
                type: "GET",
                url: "/attendance_data/" + that.year + "/" + that.month,
                dataType: "json",
                data: {
                    _token: Laravel.csrfToken
                },
                success: function(data, dataType) {
                    that.attendances = data.attendances;
                    that.year = data.year;
                    that.month = data.month;
                },
                complete: function(XMLHttpRequest, textStatus) {
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        },
        methods: {
            update: function (year, month, attendance, $e) {
                var that = this;
                $.ajax({
                    type: "POST",
                    url: "/attendance_data/" + year + "/" + month + "/" + attendance.day,
                    dataType: "json",
                    data: {
                        from_time: attendance.data.from_time,
                        to_time: attendance.data.to_time,
                        comment: attendance.data.comment,
                        _token: Laravel.csrfToken
                    },
                    success: function(data, dataType) {
                        alert("API処理終了");
                    },
                    complete: function(XMLHttpRequest, textStatus) {
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            }
        }
    }
</script>
