<template>
    <span id="todayAttendance">

    {{ year }}/{{ month }}/{{ day }}の管理：
    <span v-if="attendance.from_time">{{ attendance.from_time }}出社</span>
    <span v-else><button v-on:click="update_from(attendance, $event);">出勤</button></span>
    <span v-if="attendance.to_time">{{ attendance.to_time }}退社</span>
    <span v-else><button v-on:click="update_to(attendance, $event);">退勤</button></span>

    </span>
</template>

<script>
    export default {
        data() {
            var _date = new Date();
            return {
                isInitialized: false,
                attendance: {},
                year: _date.getFullYear(),
                month: _date.getMonth() + 1,
                day: _date.getDate()
            }
        },
        created: function() {
            var _date = new Date();
            var that = this;
            $.ajax({
                type: "GET",
                url: "/attendance_data/" + that.year + "/" + that.month + "/" + that.day,
                dataType: "json",
                data: {
                    _token: Laravel.csrfToken
                },
                success: function(data, dataType) {
                    that.attendance = data;
                },
                complete: function(XMLHttpRequest, textStatus) {
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus);
                }
            });
        },
        methods: {
            update_from: function (attendance, $e) {
                var that = this;
                $.ajax({
                    type: "POST",
                    url: "/attendance_from/" + that.year + "/" + that.month + "/" + that.day,
                    dataType: "json",
                    data: {
                        _token: Laravel.csrfToken
                    },
                    success: function(data, dataType) {
                        that.attendance = data;
                        alert("API処理終了");
                    },
                    complete: function(XMLHttpRequest, textStatus) {
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            },
            update_to: function (attendance, $e) {
                var that = this;
                $.ajax({
                    type: "POST",
                    url: "/attendance_to/" + that.year + "/" + that.month + "/" + that.day,
                    dataType: "json",
                    data: {
                        _token: Laravel.csrfToken
                    },
                    success: function(data, dataType) {
                        that.attendance = data;
                        alert("API処理終了");
                    },
                    complete: function(XMLHttpRequest, textStatus) {
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(textStatus);
                    }
                });
            }
        }
    }
</script>
